<mat-toolbar color="primary">
  <span>Crypto App</span>
  <span class="example-spacer"></span>
  <div class="example-button-row">
    <button mat-flat-button color="primary" routerLink="/crypto_js">Crypto JS</button>
    <button mat-flat-button color="primary" routerLink="/base64">Base 64</button>
    <button mat-flat-button color="primary" routerLink="/about">About</button>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>
<div class="footer">
  <mat-toolbar color="primary">
    <span class="example-spacer"></span>
    <span>Made with ❤</span>
    <span class="example-spacer"></span>
    <span>Made using Angular</span>
    <span class="example-spacer"></span>
    <span>Made by Varshith</span>
    <span class="example-spacer"></span>
    
  
  </mat-toolbar>
</div>